<nav class="topnav" id="myTopnav">
    <a class="item <%= active=='home' ? 'active' : '' %>" href="/">Home</a>
    <a class="item <%= active=='explore' ? 'active' : '' %>" href="/explore">Explore</a>
    <%if (user) { %>
        <a href="/users/<%= user.username %>" class="item <%= active=='user_'+user.username ? 'active' : '' %>"><%= user.username %> </a>
        <a href="/settings" class="item settings"><span class="iconify" data-icon="uil:cog"></span></a>
        <a href="/logout" class="item signout"><span class="iconify" data-icon="uil:exit"></span></a>
    <% } else { %>
        <a class="item <%= active=='join' ? 'active' : '' %> join" href="/join">Join</a>
        <a class="item <%= active=='login' ? 'active' : '' %> sign-up" href="/login">Sign in</a>
    <% } %>

<!--     <a href="javascript:void(0);" class="icon right" onclick="menu()">
        <span class="iconify" data-icon="uil:bars"></span>
    </a> -->
</nav>

<%- include('../partials/post.ejs', {user}); %>