<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: user.name+" - followers", vue: true, profile:true, username:user.name, userid:user._id}); %>


<body class='bg-gray-100'>
    <%- include('../partials/nav.ejs', {active: "user_followers_"+user.name, user:loggedInUser, loggedIn}); %>
    <div id='data' class='hidden'>
        <% if(loggedIn){ %>
        <input type="hidden" id="loggedInUserID" value="<%= loggedInUser._id %>">
        <% } %>
        <input type="hidden" id="username" value="<%= user.name %>">
        <input type="hidden" id="userID" value="<%= user._id %>">
    </div>
    <main class='container mx-auto px-4 mt-28 md:mt-16' id='app' v-cloak>
        <div class="bg-white text-gray-700 p-5 rounded-xl">
            <h1 class="mb-5"><a :href="`/users/${user}`"><img :src="`/picture/${userID}`" height="30px" class='rounded-full h-10 inline-block shadow'> @{{ user }}</a> » followers ({{ followers.length }})</h1>
            <div class="grid grid-cols-3 gap-4 ">
                <div v-for="follower in followers" class="truncate">
                    <a :href="`/users/${follower.name}`">
                        <img :src="`/picture/${follower.id}`" height="30px" class='rounded-full h-10 inline-block shadow'><span class="ml-1"> {{ follower.name }}</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>
<script src="/assets/js/love.js"></script>
<script type="module">
    //import Post from "../assets/js/components/post.js";

    var user = document.getElementById('username').value 
    var userID = document.getElementById('userID').value 

    var loggedInUserIDInput = document.getElementById('loggedInUserID')

    if (loggedInUserIDInput) var loggedInUserID = loggedInUserIDInput.value
    var app = new Vue({
        el: '#app',
        data: {
            followers: [], // todo: this should be paginated on the server
            loggedInUserID,
            userID,
            user
        },
        async mounted() {
            var res = await fetch(`/api/users/${user}/followers`)
            var data = await res.json()
            this.followers = data
        },
        methods: {

        }
    })
</script>

</html>
