<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: post.content, vue: true}); %>


<body class='bg-gray-100'>
    <%- include('../partials/nav.ejs', {active: "post_" +post._id, user:loggedInUser, loggedIn}); %>
    <div id='data' class='hidden'>
        <% if(loggedIn){ %>
            <input type="hidden" id="loggedInUserID" value="<%= loggedInUser._id %>">
        <% } %>
        <input type="hidden" id="postID" value="<%= post._id %>">
    </div>
    <main class='container mx-auto px-4 mt-28 md:mt-16' id='app' v-cloak>
        <post :post="post" :logged-in-user-id="loggedInUserID"></post>
        <div class="mx-auto max-w-2xl">
            <h1 class="text-base block">Comments ({{ comments.comments.length }})</h1>
            <form @submit.prevent="comment(commentInput)">
                <input
                class="appearance-none relative inline-block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                type='text' placeholder="Write a comment" v-model="commentInput">
            </form>
            <div v-for="comment in comments.comments" :key="comment._id" class="p-4 my-5 bg-white rounded-lg shadow">
                <div class="block align-middle">
                    <img src="/picture/5fe24f5e66e21f46f4f1c639" height="30px" class="rounded-full h-6 inline-block shadow">
                    <h4 class="inline-block text-lg text-gray-900 leading-tight ml-1">
                        @jeffalo
                    </h4>
                    <span class="inline-block ml-2 text-base text-gray-500 italic leading-normal">
                        1/15/2021 7:49:27 PM
                    </span>
                </div>
                <p class="text-base text-gray-600 leading-normal wasteof-break-words block">
                    {{ comment.content }}
                </p>
            </div>
        </div>
    </main>
</body>
<%- include('../partials/scripts.ejs'); %>
<script src="/assets/js/love.js"></script>
<script type="module">
    import Post from "../assets/js/components/post.js";

    var postID = document.getElementById('postID').value //TODO: is there a better way to do this? TODO: clean this the heck up
    var loggedInUserIDInput = document.getElementById('loggedInUserID')

    if (loggedInUserIDInput) var loggedInUserID = loggedInUserIDInput.value
    var app = new Vue({
        el: '#app',
        data: {
            post: {
                loves: []
            },
            comments: {
                comments: []
            },
            commentInput:'',
            postID,
            loggedInUserID
        },
        components: {
            Post // this is much cleaner than doing Vue.component(...)
        },
        async mounted() {
            var postRes = await fetch(`/api/posts/${this.postID}`)
            var postData = await postRes.json()
            this.post = postData

            var commentsRes = await fetch(`/api/posts/${this.postID}/comments`)
            var commentsData = await commentsRes.json()
            this.comments = commentsData
        },
        methods: {
            lovePost: async function (id) {
                love(id, (newLoves, action) => {
                    this.post.loves = newLoves
                })
            },
            comment: function(input){
                alert(input)
            }
        }
    })
</script>
</html>