<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "user"}); %>


<body>
    <%- include('../partials/nav.ejs', {active: "user_"+user.name, user:loggedInUser}); %>
    <main>
        <h1><%= user.name %></h1>
        <p>id: <%= user._id %></p>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>

</html>