<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {page: "user"}); %>


<body class='bg-gray-100'>
    <%- include('../partials/nav.ejs', {active: "user_"+user.name, user:loggedInUser}); %>
    <main class='container mx-auto px-4 mt-24 md:mt-16'>
        <img src="/picture/<%= user.name %>" height="30px" class='rounded-full h-10 inline-block shadow'>
        <h1 class="inline-block font-bold">@<%= user.name %></h1>
        <% if(loggedInUser) { %>
            <button data-user='<%= user.name %>' id='follow' class="group relative inline-block py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                <span class="iconify inline-block mr-1" data-icon="uil:user-plus" data-inline="true"></span>
                <span class='inline-block' id='follower-count'><%= user.followers ? user.followers.length.toString() : '0' %></span>
            </button>
            <span class='italic text-gray-600' id='follow-status'><%= user.followers ? user.followers.includes(loggedInUser.username) ? 'following' : 'not following' : 'not following' %></span>
        <% } %>
        <p class="text-gray-700 italic">id: <%= user._id %></p>
        <% posts.forEach(post => { %>
        <div
            class="max-w-2xl flex p-6 mx-auto my-5 bg-white rounded-lg shadow-md <%= activePost==post._id ? 'bg-indigo-100' : 'bg-white' %>">
            <div class="pt-1">
                <img src="/picture/<%= post.poster %>" height="30px" class='rounded-full h-6 inline-block shadow'>
                <h4 class="inline-block text-xl text-gray-900 leading-tight align-middle">@<%= post.poster %></h4>
                <p class="text-base text-gray-600 leading-normal"><%= post.content %></p>
                <p class="text-base text-gray-500 italic leading-normal">
                    <%= new Date(post.time).toLocaleDateString("en-US") + ' ' + new Date(post.time).toLocaleTimeString("en-US") %>
                    - <%= post._id %></p>
                <% if(loggedInUser) { %>
                <div>
                    <span class='love <%= post.loves && post.loves.includes(loggedInUser.username) ? 'text-red-600' : '' %>'>
                        <span data-post-id='<%= post._id %>'
                            class="iconify inline-block hover:text-red-400 transition-color duration-200 cursor-pointer"
                            data-icon="uil:heart" data-inline="true"></span>
                    </span>

                    <span data-post-count-id='<%= post._id %>'><%= post.loves ? post.loves.length : '0' %></span>
                    <!-- text-red-600 -->

                    <!-- 
                    <span data-post-id='<%= post._id %> '
                        class="fav iconify inline-block hover:text-yellow-400 transition-color duration-200 cursor-pointer"
                        data-icon="uil:star" data-inline="true"></span>
                    -->

                    <!-- text-yellow-500 -->

                </div>
                <% } %>
            </div>
        </div>
        <% }) %>
    </main>
</body>

<%- include('../partials/scripts.ejs'); %>
<script defer>
    console.log('user script loaded')
    var loves = document.querySelectorAll('.love')
    var favs = document.querySelectorAll('.fav')
    var followButton = document.querySelector('#follow')
    loves.forEach(btn => {
        var id = btn.children[0].dataset.postId

        btn.addEventListener('click', e => {
            love(id, (newCount, action)=>{
                console.log('loved')
                if(action == 'love') {
                    btn.classList.add('text-red-600') 
                }
                if(action == 'unlove') {
                    btn.classList.remove('text-red-600')
                }
                document.querySelector(`[data-post-count-id='${id}']`).innerText = newCount.toString()
            })
        })
    })

    if(followButton){
        followButton.addEventListener('click', e=>{
            follow(followButton.dataset.user)
        })
    }

/*     favs.forEach(btn => {
        var id = btn.dataset.postId

        btn.addEventListener('click', e => {
            if (btn.classList.contains('text-yellow-500')) {
                //unfav
                btn.classList.remove('text-yellow-500')
            } else {
                //fab
                btn.classList.add('text-yellow-500')
            }
        })
    }) */

    async function follow(user) {
        console.log(`gonna follow ${user}`)
        var followres = await fetch(`/users/${user}/follow`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        var followjson = await followres.json()   
        console.log(followjson)
        if(followjson.ok){
            document.getElementById('follower-count').innerText = followjson.new.toString() || 'error'
            if(followjson.action == 'follow') document.getElementById('follow-status').innerText = 'following'
            if(followjson.action == 'unfollow') document.getElementById('follow-status').innerHTML = 'not following'
        } 
    }

    async function love(id, callback) {
        console.log(`loving ${id}`)
        var loveres = await fetch(`/posts/${id}/love`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        var lovejson = await loveres.json()
        console.log(lovejson)
        if (lovejson.ok) {
            var action = lovejson.action
            var newCount = lovejson.new
            if(action == 'love') callback(newCount, 'love')
            if(action == 'unlove') callback(newCount, 'unlove')
        }
    }
</script>

</html>